[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
algorithms = {editable = true,path = "."}

[dev-packages]
pytest = "*"
more-itertools = "*"
algorithms = {editable = true,path = "."}

[requires]
python_version = "3.7"
